@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.container {
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
}

@media(max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 375px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header .logo {
  width: 30%;
}

@media(max-width: 375px) {
  header .logo {
    width: 100%;
  }
}

header .logo a {
  display: block;
  background: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg') no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
  height: 40px;
}

header .headerList {
  display: flex;
  width: 70%;
  padding: 32px 0;
}

@media(max-width: 375px) {
  header .headerList {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }
}

.headerList .nav-link{
  padding: 4px 8px;
  display: block;
  color: #000000;
  margin-right: 40px;
}
@media(max-width: 375px) {
  .headerList .nav-link {
    padding: 0px 0px 24px 0px;
    margin-right: 0px;
  }
}
.headerList .nav-link:hover {
  font-weight: bold;
}
.nav-link span {
  position: relative;
  display: block;
  padding: 4px 8px;
}

.nav-link.active span:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #919191;
    mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0 / calc(100% - 8px) calc(100% - 8px), linear-gradient(#000 0 0) content-box;
}
.title{
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
.title .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 670px;
  margin: 80px auto 24px;
}
@media(max-width:375px){
  .title .content{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.title .content .left-img{
  width: auto;
  margin-right: 598px;
}
@media(max-width:375px){
  .title .content .left-img{
    margin: 0 auto;
  }
}
.title .content .right-img{
  width: auto;
  margin-left: 598px;
}
@media(max-width:375px){
  .title .content .right-img{
    display: none;
  }
}

.title .content p{
  width: auto;
  color: #1E1E1E;
  text-align: center;
  font-size: 24px;
}
@media(max-width:375px){
  .title .content p{
    font-size: 20px;
  }
}
.title .mark {
  position: relative;
}

.title .mark img {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 0;
}
.title .list{
  display: flex;
  width: 636px;
  justify-content: space-between;
  padding-bottom: 80px;
  margin: 0 auto;
}
@media(max-width:375px){
  .title .list{
    flex-direction: column;
    width: 235px;
    align-items: center;
  }
}
.title .list .item{
  width: 47%;
  text-align: center;
}
@media(max-width:375px){
  .title .list .item{
    width: 100%;
    margin-bottom: 20px;
  }
}
.title .list .item p{
  color: #3B3B3B;
}
.title h6::after{
  color: #5B5B5B;
  content: '';
  border-bottom: 2px solid #C1C1C1;
  width: 10%;
  height: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
.works{
  display: flex;
  flex-direction: column;
}
.work-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
}
@media(max-width:375px){
  .work-list{
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    margin-top: 120px;
  }
}
.work-list .card{
  width: calc(50% - 12px);
  margin-bottom: 80px;
}
@media(max-width:375px){
  .work-list .card{
    width: 100%;
    margin-bottom: 48px;
  }
}
.work-list .card img{
  border-radius: 8px;
  margin-bottom: 16px;
}
.work-list .card .content{
  margin-left: 16px;
}
.work-list .card .content h2{
  font-size: 28px;
  font-weight: bold;
  color: #3B3B3B;
  margin-bottom: 8px;
}

.work-list .card .content p{
  color: #919191;
  margin-bottom: 24px;
}
@media(max-width:375px){
  .work-list .card .content p{
    margin-bottom: 16px;
  }
}
.work-list .card .content .tag{
  display: flex;
  width: auto;
  justify-content: flex-start;
}
.work-list .card .content .tag li{
  background-color: #F1F1F1;
  color: #3B3B3B;
  border-radius: 16px;
  padding: 4px 12px 4px 12px;
  margin-right: 8px;
}
.works .pages{
  display: flex;
  width: 152px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 120px;
}
.works .pages .page-num{
  width: 30%;
  padding: 2px 13px;
  font-size: 24px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #3B3B3B;
}
.works .dark-page{
  background: #1E1E1E;
  color: #FFFFFF;
  border: 1px solid #000000;
}
footer {
  background-size: cover;
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true');
}

footer .container {
  display: flex;
  justify-content: space-between;
}
@media(max-width:375px){
  footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer .content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media(max-width:375px){
  footer .content {
    width: 100%;
    align-items: center;
  }
}
footer .content h1 {
  margin-bottom: 24px;
}

footer .content p {
  margin-bottom: 24px;
  color: #3B3B3B;
}

footer a {
  display: block;
  color: #919191;
}

footer .sidebar {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 80px 0;
}
@media(max-width:375px){
  footer .sidebar {
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
}
footer .sidebar .list {
  border: 1px solid #C1C1C1;
  border-radius: 8px;
  background-color: #FFFFFF;
  width: 306px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 20px;
  color: #3B3B3B;
}

footer .sidebar .list img {
  padding-left: 24px;
  padding-right: 13px;
}

footer .sidebar .darkList {
  background-color: #000000;
  color: #FFFFFF;
}